# Creating Manual Dataframe using PySpark

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('tutorial_3').getOrCreate()

In [5]:
spark

In [6]:
data = [
    ('David', 25, 50000),
    ('Tom', 25, 50000),
    ('James', 23, 50000),
    ('Charles', 30, 75000)
]

In [7]:
df = spark.createDataFrame(data, ['Name', 'Age', 'Salary'])

In [9]:
df.show()

+-------+---+------+
|   Name|Age|Salary|
+-------+---+------+
|  David| 25| 50000|
|    Tom| 25| 50000|
|  James| 23| 50000|
|Charles| 30| 75000|
+-------+---+------+